<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.3.0" targetFramework="net461" />
  <package id="MahApps.Metro" version="2.0.1" targetFramework="net461" />
  <package id="MahApps.Metro.IconPacks.Material" version="4.2.0" targetFramework="net461" />
  <package id="MahApps.Metro.IconPacks.Modern" version="4.2.0" targetFramework="net461" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net461" />
  <package id="MoonSharp" version="2.0.0.0" targetFramework="net461" />
  <package id="SharpConfig" version="3.2.9.1" targetFramework="net461" />
</packages>